= link_to 'Strony', admin_pages_path, :class => controller.controller_name == 'pages' ? 'current' : ''
= link_to 'Załączniki', assets_path, :class => controller.controller_name == 'assets' ? 'current' : ''
#show_page= link_to 'Pokaż stronę', root_path
